<div class="card shadow-effect">
    <div class="card-body">
        <div class="text-center  mt-3 mb-5">
            <h3>SUBSCRIPTION FORM</h3>
            <p class="m-auto subs-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. fugil horety junolet. Quickly manage the layout, alignment, and sizing of grid columns, navigation, components, and more with a full suite of responsive flexbox utilities. For more complex implementations, custom CSS may be necessary.</p>
            <form action="" class="form-inline d-flex justify-content-between mb-5 mt-5">               
                <div class="form-group col-md-2">
                    <input type="text" class="form-control shadow-effect" placeholder="Your Name">
                </div>
                <div class="form-group col-md-2">
                    <input type="email" placeholder="Email Id" class="form-control shadow-effect">
                </div>
                <div class="btn btn-info btn-block btn-sub">SUBSCRIBE</div>
            </form>
        </div>
    </div>
</div>